.center{
     text-align: center;
     margin: auto;
}

nav{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 50px;
     padding: 7px;
}

.usuario{
     display: flex;
     flex-direction: row;
     align-items: center;
}
.usuario img{
     height: 40px;
     width: 40px;
     margin-right: 10px;
}